<div class="row">
    <div class="col-xs-12">
        <h3>Dashboard</h3>
        <p>
            Kitsch actually selvage gentrify waistcoat, gluten-free 90's. Waistcoat marfa whatever, skateboard scenester pitchfork church-key
            poutine. Chartreuse blue bottle typewriter 3 wolf moon selfies, kitsch etsy austin try-hard flannel mustache
            DIY migas paleo. Kombucha farm-to-table pop-up hella tofu venmo, austin next level artisan health goth meggings
            cred ennui truffaut celiac. Letterpress kinfolk man braid meggings chambray, disrupt scenester hashtag wayfarers
            fanny pack XOXO cred sriracha. Portland put a bird on it vegan bitters meggings austin migas raw denim trust
            fund flexitarian, franzen mustache freegan squid. Truffaut everyday carry fingerstache mustache, photo booth
            quinoa DIY actually slow-carb.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <unit-rollup></unit-rollup>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <unit-rollup></unit-rollup>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
        <unit-rollup></unit-rollup>
    </div>
</div>