//@import '../assets/lib/vars';
 
.wrapper {  
  font-weight: bold;  
  
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  
  -webkit-box-shadow: 2px 2px 8px 3px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 2px 8px 3px rgba(0,0,0,0.5);
  box-shadow: 2px 2px 8px 3px rgba(0,0,0,0.5);
  
   border-radius: 5px 5px 5px 5px;
   -moz-border-radius: 5px 5px 5px 5px;
   -webkit-border-radius: 5px 5px 5px 5px;      
}

.stage {    
    padding-left: 15px;
    padding-right:15px;
} 

.main {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: left;
  background: #353c42;  
  color: #5b646b;
  overflow-x: auto;
  overflow-y: auto;    
}

.aside { 
  background: #30363c;  
  overflow-x: auto;
  overflow-y: auto;   
  padding-top:0px;    
}
